---

---
<nav class="navbar fixed-top navbar-expand-lg container-fluid p-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html"><img src="images/logo-dark2.png" alt="logo de manic construction"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <iconify-icon icon="system-uicons:menu-hamburger" class="hamburger-menu"></iconify-icon>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">Manic</h5>
                <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul
                    class="navbar-nav align-items-center justify-content-end justify-content-xxl-center flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link text-white text-uppercase  active mx-2 px-3 mb-2 mb-lg-0"
                            aria-current="page" href="index.html">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white text-uppercase mx-2 px-3 mb-2 mb-lg-0" href="#propos">À&nbsp;Propos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white text-uppercase mx-2 px-3 mb-2 mb-lg-0 dropdown-toggle"
                            data-bs-toggle="dropdown" href="#services" role="button" aria-expanded="false"
                            href="project">Nos&nbsp;Services</a>
                            <ul class="dropdown-menu">
                                <li><a href="services/cuisine.html" class="dropdown-item text-uppercase ">Cuisine<span</span></a></li>
                                <li><a href="services/salledebain.html" class="dropdown-item text-uppercase ">Salle De Bain<span></span></a></li>
                                <li><a href="services/gypse.html" class="dropdown-item text-uppercase ">Gypse & Peinture<span></span></a></li>
                                <li><a href="services/plancher.html" class="dropdown-item text-uppercase ">Plancher <span></span></a></li>
                                <li><a href="services/paysagement.html" class="dropdown-item text-uppercase ">Paysagement <span></span></a></li>
                                <li><a href="services/pave.html" class="dropdown-item text-uppercase ">Pavé-Unis</span></a></li>
                                <li><a href="services/cabanon.html" class="dropdown-item text-uppercase ">Cabanon <span></span></a></li>
                                <!-- <li><a href="pricing.html" class="dropdown-item text-uppercase ">Pricing <span></span></a></li> -->
                                <!-- <li><a href="contact.html" class="dropdown-item text-uppercase ">Contact <span
                                            class="badge bg-secondary">Pro</span></a></li>
                                <li><a href="team.html" class="dropdown-item text-uppercase ">Our Team <span
                                            class="badge bg-secondary">Pro</span></a></li>
                                <li><a href="review.html" class="dropdown-item text-uppercase ">Reviews <span
                                            class="badge bg-secondary">Pro</span></a></li>
                                <li><a href="faq.html" class="dropdown-item text-uppercase ">FAQs <span
                                            class="badge bg-secondary">Pro</span></a></li> -->
                            </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white text-uppercase  mx-2 px-3 mb-2 mb-lg-0"
                            href="#projets">Réalisations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white text-uppercase  mx-2 px-3 mb-2 mb-lg-0" href="#blog">blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="#soumission" class="btn btn-outline-primary mx-2 px-3 py-2">Soumission Gratuite<iconify-icon
                            icon="tabler:arrow-right" class="arrow-icon"></iconify-icon>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white text-uppercase  mx-2 px-3 mb-2 mb-lg-0"
                            href="en/index.html">EN</a>
                    </li>

                </ul>

                <div class="  d-flex mt-5 mt-lg-0 ps-lg-5 align-items-center justify-content-end ">
                    <ul class="navbar-nav social-div justify-content-end align-items-center">

                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center px-3" href="#">
                                <iconify-icon icon="ri:facebook-fill" class="social-icon text-white"></iconify-icon>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center px-3" href="#">
                                <iconify-icon icon="ri:instagram-line"
                                    class="social-icon text-white"></iconify-icon>
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link d-flex align-items-center px-3" href="#">
                                <iconify-icon icon="ri:twitter-fill" class="social-icon text-white"></iconify-icon>
                            </a>
                        </li> -->
                        <!-- <li class="nav-item">
                            <a class="nav-link d-flex align-items-center px-3" href="#">
                                <iconify-icon icon="ri:linkedin-fill" class="social-icon text-white"></iconify-icon>
                            </a>
                        </li> -->
                        <!-- <li class="nav-item">
                            <a class="nav-link d-flex align-items-center px-3" href="#">
                                <iconify-icon icon="ri:youtube-fill" class="social-icon text-white"></iconify-icon>
                            </a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>